#first{
    position: relative;
    width: 200px;
}
#img{
    width:200px;
}
#number{
    position: absolute;
    top:0;
    right: 5px;
    font-size: 40px;
    color: #F00;
}


#third {
    position: relative;
    width: 200px;
    height: 228px;
    background-image: url("1.jpg");
    background-size:100% 100%;
}

#third:after {
    content: '8';
    position: absolute;
    right: 5px;
    font-size: 40px;
    color: #F00;
}